* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
    background: #FFF;
    
}

.logo {
    color: #000;
    font-size: 22px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #8291A5;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
    color: #FFF;
    background: #6548c3;
}

#icon {
    background-color: #6548c3;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #6548c3;
}

#checkbox,
#icon {
    display: none;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li {
    display: block;
    padding: 8px 16px;
  }

@media screen and (max-width: 1024px) {
    nav {
        border-bottom: 1px solid #455468;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #fff;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}
