/* You can add global styles to this file, and also import other style files */

body {
  padding: 0 5%; /* Default padding for larger screens */
  
}

h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #6548c3;
  width: 170px;
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover{
  background-color: #7C6FD5;
}

@media (max-width: 767px) {
  body {
    padding: 0 8px; /* Adjusted padding for mobile screens */
  }
}
