<div class="success-pwd-change-popup" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-center d-block">
            <h4 class="modal-title">Success!</h4>
        </div>
        <div class="modal-body text-center d-block">
            <p>Your password has been successfully changed!</p>
        </div>
        <div class="modal-footer  text-center d-block">
            <a (click)="userHome()"><button class="btn cta-button" id="button" >Back</button></a>
        </div>
    </div>
    </div>
</div>